<div id="add-card-modal" class="hidden">
    <div class="add-card-modal-content">

        <div class="add-card-modal-header">
         <button type="button" id="add-card-modal-close" class="add-card-modal-exit">&times;</button>
        </div>

        <div class="add-card-modal-body">
            <h1>Create your own:</h1>
            <div class="card-url-element card-field">
              <label for="url-text-input">Card Image URL</label>
              <input type="text" id="url-text-input"></input>
            </div>

            <div class="card-description-element card-field">
              <label for="card-description-input">Card Image Description</label>
              <input type="text" id="card-description-input">
            </div>
        </div>

         <button type="button" id="add-card-modal-accept" class="add-card-modal-accept">Accept</button>

          
    </div>
</div>