<div id="congratulations-modal" class="hidden">
    <div class="congratulations-modal-content">

        <div class="congratulations-modal-header">
         <button type="button" id="congratulations-modal-close" class="congratulations-modal-exit">&times;</button>
        </div>

        <div class="congratulations-modal-body">
            <h1>Congratulations!</h1>
        </div>

          
    </div>
</div>