<div id="log-counter-modal" class="hidden">
    <div class="log-counter-modal-content">

        <div class="log-counter-modal-header">
         <button type="button" id="log-counter-modal-close" class="log-counter-modal-exit">&times;</button>
        </div>

        <div class="log-counter-modal-body">
            <h1>Previous Games:</h1>
            <ol>
                <li></li>
            </ol>
        </div>

          
    </div>
</div>