<aside id="sidebar-container">
    <h2>Options</h2>
    
    <div class = "options-container-boxes">
        <label for="options-flips" class="flips-label">Number of Matching Cards</label>
        <input type="number" name="options-flips" id="options-flips" class="options-container" placeholder="{{flips}}">
    </div>
    <div class = "options-container-boxes">
        <label for="options-max-cards" class="max-cards-label">Max Number of Card Sets</label>
        <input type="number" name="options-max-cards" id="options-max-cards" class="options-container" placeholder="{{maxCards}}">
    </div>
    <span>
        <button id="sidebar-save" class="sidebar-button">Save</button>
        <button id="sidebar-reset" class="sidebar-button">New Game</button>
    </span>

    <form method="get" action="/">
        <button id="new-game-button">Back to Title Screen</button>
    </form>

</aside>