<div class= 'win_modal hidden' id='win_modal'>
    <div class= 'modal_body'>
        <h1>You won!</h1>
        <form method="get" action="/game">
            <button id="play-button">Play Again?</button>
        </form>
    </div>
</div>