<!-- This HTML will be displayed on every page of our site, right now it doesn't do 
anything but set refferences/formats -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A Flip Card Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Scripts for when we write them-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.js" defer></script>
    <script src="/cardTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" type ="application/javascript" charset="utf-8" defer></script>
  </head>
  <body>
      <!--This automatically insets a specified handlebars template -->
    {{{body}}}
  </body>
</html>