{{>sidebar}}

<div class = "cardContainer" id = "cardContainer">
    {{#each cardInfo}}
        {{>card}}
    {{/each}}
</div>

{{>congratulations}}
{{>addcard}}
<button type="button" id="add-card-button">+</button>