<aside id="sidebar-container">
    <h2>Sidebar</h2>
    <p>Stuff togo here</p>
</aside>

<div class = "cardContainer" id = "cardContainer">
    {{#each cardInfo}}
        {{>card}}
    {{/each}}
</div>
