{{>sidebar}}

<div class = "cardContainer" id = "cardContainer">
    {{#each cardInfo}}
        {{>card}}
    {{/each}}
</div>

{{>congratulations}}
{{>addcard}}
{{>deletecard}}
{{>notify}}
<button type="button" id="add-card-button">+</button>
<button type="button" id="delete-card-button">-</button>