<!-- <div>Some sort of start button</div> -->

<div id="start-box-container">
    <p id="game-title">The Card Matching Game</p>
    <form method="get" action="/game">
        <button id="play-button">Play</button>
    </form>
</div>