body{
    margin: 0%;
}

.cardContainer{
    padding: 50px;
    display: block;
}
.card{
    display: inline-block;
    vertical-align: top;
    height: 350px;
    width: 200px; 
    border: 1px solid black;
    border-radius: 2px;
}

/*the .flipped class adds padding to a card, so that an unflipped card is just the cardback image, 
while a flipped one has an image a little ways 'inside' the card */
.card.flipped{
    padding: 25px; 
    height: 300px;
    width: 150px;
}
.card.flipped img{
    max-height: 300px;
    max-width: 150px;
}

.card img{
    max-height: 350px;
    max-width: 200px;
}


#start-box-container {
    position: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid#D0D0D0;
    text-align: center;
    background-color: rgba(239,239,239,0.37);
}

#game-title {
    margin: 0 auto;
    padding: 25px;
    font-size: 2.5em;
}

#play-button {
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 2em;
}

.content {
    height: 100%;
}

#sidebar-container{
    min-width: 175px;
    max-width: 175px;
    margin: 10px 10px auto 10px;
    padding: 20px;
    border-radius: 3px;
    background-color: rgba(239,239,239,0.37);
  }